
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
      }
      
      
      h1{
          color: #4C4C6D;
          text-align: center;
      }
      ul{
          list-style-type:none;
          background:#C490E4;
          overflow:hidden;
          margin:0;
          padding:0;
        }
        li{
          float:left;
        }
        li a{
          display:block;
          padding:20px 25px;
          color:#5E454B;
          text-decoration:none;
        }
        a:hover{
          background-color:#CDF0EA;
          color:#C490E4;
        }
      
          div.contenedor{
            border: 1px ;
            width: 1200px;
            height: 100%;
            background-color: #F3F1F5;
            margin: 0 auto;
            
        }
       
      
       div.card{
        
        width: 350px;
        height: 650px;
        background-color: #bee5d3;
        float: left;
        margin-top: 36px;
      margin-left: 35px;
      
      }
      
      div.card2{
        
        width: 350px;
        height: 650px;
        background-color: #bee5d3;
        float: left;
        margin-top: 18px;
        margin-left: 35px;
      
       
      }
      
      div.card3{
      
        width: 350px;
        height: 650px;
        background-color: #bee5d3;
        float: left;
        margin-left: 35px;
       
       
      }
      h2{
        text-align: center;
      
      }
      p{
        text-align: justify;
        margin-left:20px;
        margin-top:30px;
        margin-right:20px;
      }
      
      img{
        border-radius: 10px;
      }
      
       #pie{
        
          clear:both;
           background:#C490E4;
           height:40px;
        margin-top: 30px;
        margin-right: 20px;
        margin: 10px;
        text-align:center;
         }
      
         